.about{
    margin-top: 2em;
    font-size:1.5em;
    font-weight:bolder;
    text-transform: uppercase;
    text-align: center;
}
.about-details{
    width:80%;
    margin:20px auto;
    line-height:2.3em;
}
.flexing{
    display: flex;
}
.flexing-item{
    margin-right: 1.5em;
}
.leader-hero{
    margin-top: 10em;
}
.leader-text{
    font-size: 3.5em;
    font-weight: bolder;
}

.logo-fix{
   width: 100px;

}

@media screen and (max-width: 767px) {
    .hero{
        height: 500px;
    }
    .leader-text{
        font-size: 2.5em;
    }
    .logo-fix{
        width:100px;
        background-color: red;
    }
}
